<?xml version="1.0"?>
<launch>

    <node pkg="calibration_pkg" type="calibration_client" name="calibration_client" output="screen">
        <rosparam file="$(find util_package)/config/common_parameter.yaml" command="load" />
        <rosparam file="$(find calibration_pkg)/config/calibration_client.yaml" command="load" ns="" />
    </node>

</launch>