<?xml version="1.0"?>
<launch>
    <arg name="sim_or_real" default="sim"/>
    <group if="$(eval sim_or_real=='real')">
        <node pkg="sensor_package" type="SensorServer" name="sensor_server" output="screen">
            <rosparam file="$(find sensor_package)/config/sensor_server_real_photoneo.yaml" command="load"/>
            <rosparam file="$(find util)/config/common_parameter.yaml" command="load" />
        </node>
    </group>
    <group if="$(eval sim_or_real=='sim')">
        <node pkg="sensor_package" type="SensorServer" name="sensor_server" output="screen">
            <rosparam file="$(find sensor_package)/config/sensor_server.yaml" command="load"/>
            <rosparam file="$(find util)/config/common_parameter.yaml" command="load" />
        </node>
    </group>
    

</launch>