<?xml version="1.0"?>
<launch>
    <node pkg="visualize_package" type="visualize_segmentation_client" name="visualize_segmentation_client" output="screen">
        <rosparam file="$(find visualize_package)/config/visualize_segmentation_client.yaml" command="load" ns="" />
    </node>

    <node pkg="hdf5_package" type="hdf5_open_server.py" name="hdf5_open_server" output="screen">
        <rosparam file="$(find visualize_package)/config/visualize_segmentation_client.yaml" command="load" ns="" />
    </node>

    <node pkg="visualize_package" type="visualize_server" name="visualize_server" output="screen">
        <rosparam file="$(find visualize_package)/config/visualize_server.yaml" command="load" />
        <rosparam file="$(find annotation_common)/config/common_parameter.yaml" command="load" />
    </node>

</launch>