<?xml version="1.0"?>
<launch>
    <arg name="crop" default="False"/>
    <node pkg="visualize_package" type="visualize_segmentation_client" name="visualize_segmentation_client" output="screen">
        <rosparam file="$(find visualize_package)/config/visualize_segmentation_client.yaml" command="load" ns="" />
        <rosparam file="$(find util_package)/config/common_parameter.yaml" command="load" />
        <param name="crop" value="$(arg crop)"/>
    </node>

    <!-- <node pkg="calibration_package" type="calibrate_tf_broadcaster" name="calibrate_tf_broadcaster">
        <rosparam file="$(find calibration_package)/config/calibrate_tf_broadcaster.yaml" command="load" ns="" />
        <rosparam file="$(find util_package)/config/common_parameter.yaml" command="load" />
    </node> -->
</launch>